<mat-dialog-content class="mat-typography" style="height: 450px;width: 450px;direction: rtl!important;">
  <div class="close-btn" mat-dialog-close style="cursor: pointer">
    <svg class="bi bi-x" fill="currentColor" height="16" viewBox="0 0 16 16" width="16"
         xmlns="http://www.w3.org/2000/svg">
      <path
        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
    </svg>
  </div>
  <form [formGroup]="userForm">
    <div class="col-12">
      <mat-form-field class="example-full-width">
        <mat-label>email</mat-label>
        <input matInput placeholder="*****@example.com" formControlName="email">
      </mat-form-field>
    </div>
   <div class="col-12">
    <mat-form-field class="example-full-width" style="margin-top: 20px">
      <mat-label>سطح دسترسی</mat-label>
      <mat-select formControlName="accessLevel">
        <mat-option [value]="'ADMIN'">ادمین</mat-option>
        <mat-option [value]="'USER'">کاربر</mat-option>
      </mat-select>
    </mat-form-field>
   </div>
    <section>
      <mat-label>وضعیت کاربر</mat-label>
      <mat-button-toggle-group aria-label="Font Style" formControlName="status">
        <mat-button-toggle [value]=true>فعال</mat-button-toggle>
        <mat-button-toggle [value]=false>غیرفعال</mat-button-toggle>
      </mat-button-toggle-group>
    </section>

    <div class="col-12" style="margin-top: 100px">
      <button mat-button color="primary" (click)="saveChanges()" mat-dialog-close style="background-color: aliceblue">ثبت تغییرات
      </button>
    </div>
  </form>
</mat-dialog-content>
