<div class="my-border">

  <ngx-datatable class="material container striped"
                 [rows]="userList"
                 [columnMode]="'force'"
                 [headerHeight]="50"
                 [footerHeight]="50"
                 rowHeight="auto"
                 [externalPaging]="true"
                 [count]="totalElements"
                 [offset]="page.pageNumber"
                 [limit]="page.size"
                 (page)="setPage($event)">

    <ngx-datatable-column name="#" [flexGrow]="0.5">
      <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
        {{(rowIndex + 1)}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="ایمیل کاربر " [flexGrow]="2">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row?.email  }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="تاریخ اضافه شدن کاربر " [flexGrow]="2">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row?.date}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="وضعیت کاربر" [flexGrow]="2">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <mat-slide-toggle [(ngModel)]="row.status"></mat-slide-toggle>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="سطح دسترسی کاربر" [flexGrow]="2">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row?.accessLevel}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="" [flexGrow]="2">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <span (click)="editUser(row)" style="cursor: pointer">ویرایش </span>
      </ng-template>
    </ngx-datatable-column>

  </ngx-datatable>
</div>
